* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #282a36;
    font-family: system-ui, -apple-system, sans-serif;
}
h1 {
    font-size: 4em;
    margin-bottom: 20px;
}
.wrapper {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 100px;
    text-align: center;
    font-style: italic;
    color: white;
    width: 100%;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
}
.picture {
    margin-bottom: 40px;
}
.picture img {
    height: 300px;
}   
.buttons {
    gap: 40px;
    width: 100%;
    text-align: center;
}
.buttons > button {
    padding: 15px;
    font-size: 1em;
    border-radius: 10px;
    border: #282a36 2px solid;
    background-color: var(--accent-color);
    color: black;
    font-weight: 700;
    transition: 100ms ease-in-out;
    display: inline;
} 
.buttons > button:hover {
    transform: scale(1.02);
    color: white;
    background-color: var(--secondary-color);
} 
@media (max-width: 500px) {
    h1 {
        font-size: 1.5em;
    }
    .container {
        width: 90%;
    }
    .buttons {
        gap: 15px;
    }
    .buttons > button {
        padding: 10px;
        font-size: 0.8em;
    }
    .picture img {
        height: 200px;
    }
}